.product-main {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.product-page {
    padding: 15px;
    border: 1px solid teal;
    border-radius: 10px;
}

.product {
    width: 350px;
}

.product h1 {
    margin-bottom: 10px;
}

.product h2 {
    margin-bottom: 10px;
}

.product h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.product h4 {
    margin-bottom: 15px;
}